.flank-green {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  height: 225px;
  width: 31%;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flank-yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  height: 225px;
  width: 150px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flank-btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Edit Change/Complete */
.flank-edit-change {
  background-color: var(--yellow);
  color: black;
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-edit-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.flank-edit-completed {
  background-color: var(--green);
  color: black;
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-edit-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

/* Flank Change/Complete */
.flank-change {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.flank-completed {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}