.endcap-card {
  position: relative;
  background-color: var(--green);
  height: 300px;
  width: 300px;
  border: 1px solid var(--green-border);
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

/* Endcap Buttons */
.endcap-card-btns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Edit Change/Complete */
.endcap-edit-change {
  background-color: var(--yellow);
  color: black;
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.endcap-edit-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.endcap-edit-completed {
  background-color: var(--green);
  color: black;
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.endcap-edit-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

/* Btn Change/Complete */
.endcap-change {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.endcap-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.endcap-completed {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.endcap-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

/* #endcap-flank-a {
  margin-right: 152px;
}

#endcap-flank-b {
  margin-left: 152px;
} */

/* Flanks */
.flank-green {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  height: 300px;
  width: 150px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flank-yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  height: 300px;
  width: 150px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.endcap-flank-container {
  display: flex;
  justify-content: left;
}

#hidden {
  display: none;
}

/* Flank Buttons */
/* Edit Change/Complete */
.flank-edit-change {
  background-color: var(--yellow);
  color: black;
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-edit-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.flank-edit-completed {
  background-color: var(--green);
  color: black;
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-edit-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

/* Flank Change/Complete */
.flank-change {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-change:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.flank-completed {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}
.flank-completed:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}