.endcap-flank-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.endcap-card {
  position: relative;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 20px 20px 5px 5px;
  height: 25vh;
  width: 38vw;
  max-width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.endcap-card-title {
  border-bottom: 1px solid black;
  font-size: 4vw;
  padding-top: 10px;
}

.endcap-card-item {
  font-size: 3vw;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

#endcap-flank-a {
  margin-right: 31%;
}

#endcap-flank-b {
  margin-left: 31%;
}

.endcap-card-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 3vw;
  width: 100%;
  max-width: 210px;
}

/* Edit Info Change/Complete */
.endcap-edit-change {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  height: 50%;
  width: 15vw;
  max-width: 82.5px;
  color: black;
  padding: 5px;
}

.endcap-edit-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px 10px 0 0;
  height: 50%;
  width: 15vw;
  max-width: 82.5px;
  color: black;
  padding: 5px;
}

/* Btn Change/Complete */
.endcap-change {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  height: 50%;
  width: 15vw;
  max-width: 82.5px;
  padding: 5px;
}

.endcap-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px 10px 0 0;
  height: 50%;
  width: 15vw;
  max-width: 82.5px;
  padding: 5px;
}

@media (min-width: 550px) {
  .endcap-card-title {
    font-size: 22px;
  }
  .endcap-card-item {
    font-size: 16.5px;
  }
  .endcap-card-btns {
    font-size: 16.5px;
  }
}