#hidden {
  display:none;
}

.endcap-flank-container {
  display: flex;
  justify-content: center;
  width: 98vw;
}

.endcap-card {
  position: relative;
  background-color: var(--green);
  height: 225px;
  width: 38%;
  border: 1px solid var(--green-border);
  border-radius: 20px 20px 5px 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.endcap-card-item {
  font-size: 12px;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

#endcap-flank-a {
  margin-right: 31%;
}

#endcap-flank-b {
  margin-left: 31%;
}

.endcap-card-title {
  padding-top: 9px;
}

.endcap-card-btns {
  font-size: 9px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Edit Info Change/Complete */
.endcap-edit-change {
  height: 20px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  color: black;
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

.endcap-edit-completed {
  height: 20px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: black;
  border: 1px solid var(--green-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

/* Btn Change/Complete */
.endcap-change {
  height: 20px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

.endcap-completed {
  height: 20px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

@media (min-width: 375px) {
  .endcap-change {
    margin-left: 7px;
  }
  .endcap-completed {
    margin-left: 7px;
  }
}