#hidden {
  display:none;
}

.endcap-flank-container {
  display: flex;
  justify-content: center;
  width: 98vw;
}

.endcap-card {
  position: relative;
  background-color: var(--green);
  height: 225px;
  width: 38%;
  border: 1px solid var(--green-border);
  border-radius: 20px 20px 5px 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

#endcap-flank-a {
  margin-right: 152px;
}

#endcap-flank-b {
  margin-left: 152px;
}

.endcap-card-title {
  padding-top: 10px;
}

.endcap-card-btns {
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Edit Change/Complete */
.endcap-edit-change {
  height: 20px;
  width: 45px;
  text-align: center;
  background-color: var(--yellow);
  color: black;
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

.endcap-edit-completed {
  background-color: var(--green);
  color: black;
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}

/* Btn Change/Complete */
.endcap-change {
  height: 20px;
  width: 45px;
  text-align: center;
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px 10px 0 0;
  padding: 5px;
}

.endcap-completed {
  background-color: var(--green);
  border: 1px solid var(--green-border);
  border-radius: 10px;
  padding: 5px;
}