.endcap-card {
  position: relative;
  background-color: var(--green);
  height: 300px;
  width: 300px;
  border: 1px solid rgb(179,204,162);
  border-radius: 35px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.endcap-edit-btn {
  position: absolute;
  bottom: 5%;
  left: 10%;
  height: 25px;
  width: 50px;
  cursor: pointer;
}

#endcap-checkbox {
  position: absolute;
  bottom: 5%;
  right: 10%;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.endcap-change {
  margin-left: 125px;
  margin-bottom: 5px;
}

#yellow {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
}

/* Flanks */
.flank {
  background-color: var(--green);
  border: 1px solid rgb(179,204,162);
  height: 300px;
  width: 150px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.endcap-flank-container {
  display: flex;
}