.edit-endcap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(90vh - 2px);
}

.edit-endcap-title {
  border-bottom: 1px solid black;
  font-size: 8vw;
  margin: 20px 0 5px 0;
}

.edit-endcap-header-btns {
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 80%;
  max-width: 450px;
  margin: 25px 0 0;
}

.edit-endcap-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-endcap-delete-btn {
  color: rgb(240,54,41);
  font-size: 8vw;
  transition: transform 0.4s ease;
}

.edit-endcap-delete-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.edit-endcap-flank-btn {
  color: var(--wfm-green);
  font-size: 8vw;
  transition: transform 0.4s ease;
}

.edit-endcap-flank-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.edit-endcap-btn-title {
  font-size: 4vw;
  margin: 5px 0 0;
}


.edit-endcap-form {
  background-color: var(--green);
  height: 70%;
  width: 80%;
  max-width: 450px;
  border: 1px solid var(--green-border);
  border-radius: 20px 20px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.edit-endcap-form-section {
  display: flex;
  flex-direction: column;
  height: 12%;
  width: 70%;
  margin: 5px;
}

.edit-endcap-form-label {
  font-size: 4vw;
  margin: 0 0 5px;
}

.edit-endcap-form-input {
  font-size: 4vw;
  line-height: 3vh;
  padding-left: 10px;
}

.edit-endcap-btn {
  background-color: var(--yellow);
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
  height: 10%;
  width: 70%;
  font-size: 4vw;
  margin: 10px 0 0;
  transition: transform 0.4s ease;
}

.edit-endcap-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Max Sizes of Edit Endcap Wrapper */
@media (min-width: 562px) {
  .edit-endcap-title {
    font-size: 45px;
  }
  .edit-endcap-delete-btn {
    font-size: 45px;
  }
  .edit-endcap-flank-btn {
    font-size: 45px;
  }
  .edit-endcap-btn-title {
    font-size: 22.5px;
  }
  .edit-endcap-form-label {
    font-size: 28.125px;
  }
  .edit-endcap-form-input {
    font-size: 22.6px;
    line-height: 25.95px;
  }
  .edit-endcap-btn {
    font-size: 22.6px;
  }
}