.edit-endcap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 112px);
}

@media (min-width: 768px) {
  .edit-endcap-wrapper {
    height: 85vh;
  }
  .edit-endcap-wrapper h4 {
    font-size: 24px;
  }
}

.edit-endcap-title {
  font-size: 1.25em;
  margin: 10px 0 5px 0;
}

@media (min-width: 375px) {
  .edit-endcap-title {
    margin: 20px 0 5px 0;
  }
}

@media (min-width: 414px) {
  .edit-endcap-title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .edit-endcap-title {
    font-size: 30px;
  }
}

.edit-endcap-header-btns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px 0 0 0;
}

.edit-endcap-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-endcap-btns {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  font-size: 20px;
  background-color: var(--green);
}

@media (min-width: 768px) {
  .edit-endcap-btns {
    height: 50px;
    width: 50px;
  }
}

.edit-endcap-form {
  background-color: var(--green);
  height: 55%;
  width: 80%;
  border: 1px solid var(--green-border);
  border-radius: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 10px 0 10px 0;
  padding: 15px;
}

.edit-endcap-form-section {
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 60%;
}

.edit-endcap-btn {
  background-color: var(--yellow);
  height: 75px;
  width: 250px;
  border: 1px solid var(--yellow-border);
  border-radius: 10px;
}

@media (min-width: 375px) {
  .edit-endcap-btn {
    height: 50px;
  }
}

@media (min-width: 768px) {
  .edit-endcap-btn {
    width: 300px;
    font-size: 1.5em;
  }
}