header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.header-title {
  font-size: 8vw;
}

.add-endcap-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 40vw 0 0;
}

.add-endcap-btn {
  font-size: 8vw;
  margin-right: 10px;
  transition: transform 0.4s ease;
}

.add-endcap-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.add-endcap-title {
  font-size: 3vw;
}

/* Max Sizes for Header */
@media (min-width: 550px) {
  header {
    margin: 10px 0;
  }
  .header-title {
    font-size: 44px;
  }
  .add-endcap-wrapper {
    margin: 20px 220px 0 0;
  }
  .add-endcap-btn {
    font-size: 44px;
  }
  .add-endcap-title {
    font-size: 16.5px;
  }
}