header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.endcap-btn-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 150px 0 0;
}
@media (min-width: 375px) {
  .endcap-btn-wrapper {
    margin: 20px 200px 0 0;
  }
}

@media (min-width: 414px) {
  .endcap-btn-wrapper {
    margin: 20px 250px 0 0;
  }
}

.endcap-btn {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 100px;
  font-size: 20px;
  background-color: var(--green);
}

.endcap-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.header-title {
  font-size: 30px;
}