/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(13,94,54);
  height: 60px;
  border-bottom: 1px solid grey;
}

.navbar-greeting {
  color: white; 
}

.navbar-link {
  color: white;
}

.navbar-link:hover {
  transform: scale(1.2);
}