nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--wfm-green);
  height: 5vh;
  border-bottom: 1px solid grey;
}

.navbar-greeting {
  color: white;
  font-size: 0.8em;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  color: white;
  font-size: 0.7em;
  margin: 0 10px;
}

/* iPhone */
@media (min-width: 414px) {
  .navbar-greeting {
    font-size: 1.1em;
  }
  .navbar-link {
    font-size: 1em;
  }
}

/* iPad */
@media (min-width: 768px) {
  .navbar-greeting {
    font-size: 1.5em;
  }
  .navbar-link {
    font-size: 1.25em;
    margin: 0 20px;
  }
}

/* iPad Pro */
@media (min-width: 1024px) {
  .navbar-greeting {
    font-size: 1.8em;
  }
  .navbar-link {
    font-size: 1.5em;
    margin: 0 30px;
  }
}