footer {
  background-color: var(--wfm-green);
  color: white;
  height: 5vh;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/* iPhone */
@media (min-width: 414px) {
  footer {
    font-size: 1.1em;
  }
}

/* iPad */
@media (min-width: 768px) {
  footer {
    font-size: 1.5em;
  }
}

/* iPad Pro */
@media (min-width: 1024px) {
  footer {
    font-size: 1.8em;
  }
}