/* Universal */
:root {
  --green: rgb(218,231,214)
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: green;
}

a:focus {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* App.js */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 100px;
  border-bottom: 1px solid grey;
}

img {
  height: 100px;
}

.nav-items {
  display: flex;
  margin-right: 10px;
}

.nav-items li {
  padding: 10px;
}

.nav-items li:hover {
  transform: scale(1.2);
}

/* Homepage */
header {
  display: flex;
  justify-content: space-around;
  height: 150px;
  margin-top: 10px;
}

.homepage-new-endcap{
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-left: 20px;
}

.homepage-new-btn {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 100px;
  font-size: 40px;
  background-color: var(--green);
}

.homepage-new-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage-title {
  font-size: 40px;
  margin-top: 20px;
  margin-left: -60px;
}

.homepage-promo-title {
  font-size: 20px;
  text-align: center;
}

.homepage-promo-selection {
  margin: 5px 20px 0 0;
}

select {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
footer {
  background-color: lightblue;
  height: 50px;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}