/* Universal */
:root {
  --green: rgb(218,231,214);
  --yellow: rgb(253,242,208);
  --yellow-border: rgb(232,212,155);
}

* {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: green;
}

a:focus {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* App.js */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

footer {
  background-color: lightblue;
  height: 50px;
  width: 100%;
  border-top: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 100px;
  border-bottom: 1px solid grey;
}

img {
  height: 100px;
}

.nav-items {
  display: flex;
  margin-right: 10px;
}

.nav-items li {
  padding: 10px;
}

.nav-items li:hover {
  transform: scale(1.2);
}

/* Homepage */
header {
  display: flex;
  justify-content: space-around;
  height: 150px;
  margin-top: 10px;
}

.endcap-btn-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding-left: 20px;
}

.endcap-btn {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 100px;
  font-size: 40px;
  background-color: var(--green);
}

.endcap-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.homepage-new-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.homepage-title {
  font-size: 40px;
  margin-top: 20px;
  margin-left: -60px;
}

.homepage-promo-title {
  font-size: 20px;
  text-align: center;
}

.homepage-promo-selection {
  margin: 5px 20px 0 0;
}

select {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* New Endcap Page */
.endcap-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 152px);
}

.endcap-wrapper h1 {
  margin: 40px 0 -10px 0;
}

.endcap-wrapper-form {
  background-color: var(--green);
  height: 80%;
  width: 50%;
  border: 1px solid rgb(179,204,162);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 20px 0 40px;
  padding: 15px;
}

.endcap-wrapper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20%;
  width: 60%;
}

.endcap-wrapper-btn {
  background-color: rgb(254,242,208);
  height: 75px;
  width: 250px;
  margin-top: 20px;
  border: 1px solid rgb(231,213,155);
  border-radius: 20px;
  margin-bottom: 10px;
}

.endcap-wrapper-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.endcap-form-title {
  font-size: 1.3em;
}

label {
  font-size: 1em;
}

input {
  text-align: center;
}

/* Edit Endcap */
.endcap-edit-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}